<main class="main bg-violet-100">
    <section class="w-screen px-10 py-10 bg-white shadow-lg rounded-xl ">
        <div class="px-4 text-center">
          <p class="mb-3 text-2xl font-semibold leading-normal text-blueGray-700">Set your question</p>
          <p class="px-4 py-2 mb-3 text-1xl text-blueGray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi placeat magni fugit fugiat obcaecati laudantium illo alias eos eius iusto!</p>
        </div>
        <div class="flex flex-wrap items-center justify-between px-1 py-3 space-y-4 flex-column sm:flex-row sm:space-y-0">
          <div class="flex flex-row">
              <button id="date-data" data-dropdown-toggle="data-days" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 " type="button">
                  <svg class="w-3 h-3 text-gray-500 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                      </svg>
                  Last 30 days
                  <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
              </button>
              <div id="data-days" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow " data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);">
                  <ul class="p-3 space-y-1 text-sm text-gray-700 " aria-labelledby="dropdownRadioButton">
                      <li>
                          <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                              <input id="filter-radio-example-1" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                              <label for="filter-radio-example-1" class="w-full text-sm font-medium text-gray-900 rounded ms-2">Last day</label>
                          </div>
                      </li>
                      <li>
                          <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                              <input checked="" id="filter-radio-example-2" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                              <label for="filter-radio-example-2" class="w-full text-sm font-medium text-gray-900 rounded ms-2">Last 7 days</label>
                          </div>
                      </li>
                      <li>
                          <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                              <input id="filter-radio-example-3" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                              <label for="filter-radio-example-3" class="w-full text-sm font-medium text-gray-900 rounded ms-2">Last 30 days</label>
                          </div>
                      </li>
                      <li>
                          <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                              <input id="filter-radio-example-4" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                              <label for="filter-radio-example-4" class="w-full text-sm font-medium text-gray-900 rounded ms-2">Last month</label>
                          </div>
                      </li>
                      <li>
                          <div class="flex items-center p-2 rounded hover:bg-gray-100 ">
                              <input id="filter-radio-example-5" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                              <label for="filter-radio-example-5" class="w-full text-sm font-medium text-gray-900 rounded ms-2">Last year</label>
                          </div>
                      </li>
                  </ul>
              </div>
              <label for="table-search" class="sr-only">Search</label>
              <div class="relative ml-3">
                  <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none rtl:inset-r-0 rtl:right-0 ps-3">
                      <svg class="w-5 h-5 text-gray-500 "aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                  </div>
                  <input type="text" id="table-search" class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 w-80 bg-gray-50 hover:bg-gray-100" placeholder="Search for items">
              </div>
          </div>
            <div class="flex flex-row ">
              <button (click)="deleteMultiple()" class="block text-white bg-red-600  hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center" type="button">Delete question all</button>
              <button data-modal-target="create-modal" data-modal-toggle="create-modal" class="block ml-3 text-white bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center " type="button">Created Question</button>
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-xl sm:rounded-lg table-container">
          <table class="w-full text-sm text-left text-gray-400 rtl:text-right">
            <thead class="text-xs text-white uppercase bg-[#7c3aed]">
              <tr class="text-center"> <!-- Center align the table headings -->
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <input id="checkbox-all" (click)="checkAll()" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 ">
                    <label for="checkbox-all" class="sr-only">Checkbox all</label>
                  </div>
                </th>
                <th scope="col" class="px-6 py-3">Question</th>
                <th scope="col" class="px-6 py-3">Index</th>
                <th scope="col" class="px-6 py-3">Image</th>
                <th scope="col" class="px-6 py-3">Description</th>
                <th scope="col" class="px-6 py-3">Created</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
            <tbody class="text-center"> <!-- Center align the table data -->
              <tr class="bg-white border-b hover:bg-purple-100" *ngFor="let question of questions; let i = index">
                <td class="w-4 p-4">
                  <div class="flex items-center">
                    <input id="checkbox-table-{{ i }}" [(ngModel)]="question.checked" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 ">
                    <label for="checkbox-table-{{ i }}" class="sr-only">checkbox</label>
                  </div>
                </td>
                <td class="px-6 py-4">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td class="px-6 py-4">{{ question.question }}</td>
                <td class="px-6 py-4">
                  <a href="{{ question.path }}" target="_self" class="block text-blue-600 font-medium  hover:underline px-3 py-2.5 text-center " rel="noopener noreferrer">Show image</a>
                </td>
                <td class="px-6 py-4">{{ question.note }}</td>
                <td class="px-6 py-4">{{ question.created_at }}</td>
                <td class="flex justify-center px-6 py-4">
                  <button (click)="fetchQuestionById(question.id)" data-modal-target="edit-modal" data-modal-toggle="edit-modal" class="block text-blue-600 font-medium  hover:underline px-3 py-2.5 text-center " type="button">Edit</button>
                  <button (click)="deleteQuestion(question.id)" class="block text-red-600 font-medium hover:underline px-3 py-2.5 text-center" type="button">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav class="flex flex-wrap items-center justify-between pt-4 mt-1 fix flex-column md:flex-row" aria-label="Table navigation">
            <div class="ml-5">
              <span class="block w-full mb-4 text-sm font-normal text-gray-500 dark:text-gray-400 md:mb-0 md:inline md:w-auto">Showing <span class="font-semibold text-gray-900">{{ currentIndexRange.start }} - {{ currentIndexRange.last }}</span> of <span class="font-semibold text-gray-900">{{ allQuestions.length }}</span></span>
            </div>
            <div class="mr-5">
              <ul class="inline-flex h-8 -space-x-px text-sm rtl:space-x-reverse">
                <li>
                  <a (click)="previousPage()" [hidden]="currentPage === 1" class="flex items-center justify-center h-8 px-3 leading-tight text-gray-500 bg-white border border-gray-300 ms-0 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
                </li>
                <li *ngFor="let page of range(1, totalPages)">
                  <a (click)="setCurrentPage(page)" [class.text-purple-300]="currentPage === page" class="flex items-center justify-center h-8 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ page }}</a>
                </li>
                <li>
                  <a (click)="nextPage()" [hidden]="currentPage === totalPages" class="flex items-center justify-center h-8 px-3 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </section>
</main>

<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
  }

  section {
    min-height: 80vh;
    min-width: 100vh;
    width: 100%;
    max-width: 84rem;
  }
  .table-container {
    height: 60vh;
    overflow-y: auto;
  }
  td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

</style>

<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------MODALS------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>


<!-- Modals -->
<!-- Created modal -->
<div id="create-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full p-4">
    <div class="relative bg-white rounded-lg shadow ">
        <div class="flex items-center justify-between p-4 border-b rounded-t md:p-5 ">
            <h3 class="text-lg font-semibold text-gray-900">Create New Question </h3>
              <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 ms-auto" data-modal-toggle="create-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
        </div>
        <form class="p-4 md:p-5">
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="col-span-2">
              <label for="question" class="block mb-2 text-sm font-medium text-gray-900">Question</label>
              <textarea id="question" name="question" [(ngModel)]="formData.question" rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-500 focus:border-purple-500" placeholder="Write question here"></textarea>
            </div>
            <div class="col-span-2">
              <label for="note" class="block mb-2 text-sm font-medium text-gray-900">Note</label>
              <input type="text" name="note" id="note" [(ngModel)]="formData.note" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 " placeholder="Type product name" required="">
            </div>
            <div class="col-span-2">
              <label for="type" class="block mb-2 text-sm font-medium text-gray-900">Answer Type</label>
              <select id="type" name="type" [(ngModel)]="formData.type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5  ">
                <option selected value="true">Text</option>
                <option value="false">Code Editor</option>
              </select>
            </div>
            <div class="col-span-2">
              <label for="file" class="block mb-2 text-sm font-medium text-gray-900">File</label>
              <input #filepond type="file"  class="filepond" name="filepond"  data-allow-reorder="true" data-max-file-size="5MB" data-max-files="3">
            </div>
          </div>
          <div class="flex justify-center">
            <button (click)="submitForm()" class="text-white inline-flex items-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
              <svg class="w-5 h-5 me-1 -ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
              Add new product
            </button>
          </div>
        </form>
    </div>
  </div>
</div>
<!-- EDIT MODAL -->
<div id="edit-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full p-4">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 border-b rounded-t md:p-5 ">
            <h3 class="text-lg font-semibold text-gray-900">Edit Question </h3>
              <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 ms-auto " data-modal-toggle="edit-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
        </div>
        <form class="p-4 md:p-5">
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="col-span-2">
              <label for="question" class="block mb-2 text-sm font-medium text-gray-900">Question</label>
              <textarea id="question" name="question" [(ngModel)]="formDataUpdate.question"  rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-500 focus:border-purple-500" placeholder="Write question here"></textarea>
            </div>
            <div class="col-span-2">
              <label for="note" class="block mb-2 text-sm font-medium text-gray-900">Note</label>
              <input type="text" name="note" id="note"  [(ngModel)]="formDataUpdate.note" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 " placeholder="Type question name" required="">
            </div>
            <div class="col-span-2">
              <label for="type" class="block mb-2 text-sm font-medium text-gray-900">Answer Type</label>
              <select id="type" name="type"  [(ngModel)]="formDataUpdate.type"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5  ">
                <option value="true">Text</option>
                <option value="false">Code Editor</option>
              </select>
            </div>
            <div class="col-span-2">
              <label for="id" class="block mb-2 text-sm font-medium text-gray-900">ID</label>
              <input type="text" disabled name="id" id="id" [(ngModel)]="formDataUpdate.id"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 " placeholder="ID" required="">
            </div>
            <div class="col-span-2">
              <label for="file" class="block mb-2 text-sm font-medium text-gray-900">File</label>
              <input  #filepondedit [value]="" type="file" name="file-update" [files]="pondFiles" acceptedFileTypes="image/png"   (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)" class="filepond-edit" name="filepond-edit" data-allow-reorder="true" data-max-file-size="5MB" data-max-files="3">
              <!-- <file-pond  #filepondedit type="file" [files]="pondFiles" acceptedFileTypes="image/jpeg, image/png"   (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)" class="filepond-edit" name="filepond-edit" data-allow-reorder="true" data-max-file-size="5MB" data-max-files="3">
              </file-pond> -->
              <!-- </inpu> -->
              </div>
          </div>
          <div class="flex justify-center">
            <button (click)="submitFormUpdate()" class="text-white inline-flex items-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
              <svg class="w-5 h-5 me-1 -ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
              Add new product
            </button>
          </div>
        </form>
    </div>
  </div>
</div>

<button data-modal-target="edit-modal" data-modal-toggle="edit-modal" hidden></button>
<script src="./assets/js/flowbite/flowbite.js"></script>
