  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
  }

  @media (min-width: 640px) {
    .sm\:ml-40 {
        margin-left: 9rem
    }
}

  section {
    min-height: 80vh;
    min-width: 100vh;
    width: 100%;
    max-width: 84rem;
  }
  .table-container {
    height: 60vh;
    overflow-y: auto;
  }
  td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  

